<div id="popup"
  class="popup fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
  <div class="popup-content px-6 py-4 rounded-lg shadow-lg w-2/3 h-fit bg-neutral">
    <h1 class="text-center text-2xl font-bold text-darkneutral">Lớp học thử</h1>
    <h1 class="item-text text-center text-2xl font-bold text-dark"></h1>
    <div class="my-4">
      <p><b>Thời gian</b>: <span class="time-start"></span> - <span class="time-end"></span></p>
      <p><b>Phòng học</b>:<span class="item-room"></span></p>
      <p><b>Số lượng</b>:<span class="item-pax"></span> </p>
    </div>
    <div class="">
      <p></p>
    </div>
    <div class="flex justify-center items-center gap-4">
      <button class="button-back bg-white text-primary rounded-md px-2 py-1">Quay lại</button>
      <button class="button-submit bg-primary text-white rounded-md px-2 py-1">Đăng ký học</button>
    </div>
  </div>
</div>
