<!-- popup.html -->
<div
  id="popup-overlay"
  class="fixed z-10 inset-0 bg-darkneutral bg-opacity-50 flex justify-center items-center"
>
  <div
    class="bg-neutral py-10 rounded-lg shadow-lg w-[90%] h-fit flex justify-center"
  >
    <div class="flex flex-col w-[80%] items-center">
      <p
        id="select-title"
        class="place-self-start text-md text-gray-600 font-bold mb-4"
      ></p>
      <div
        id="select-who"
        class="w-full h-10 px-3 bg-white flex justify-between items-center rounded-lg border-2 border-gray-400 transition duration-400"
      >
        <p id="selected-text"></p>
        <i data-lucide="chevron-down" class="size-5"></i>
      </div>
      <div id="select-who-dropdown" class="collapsible w-full h-fit">
        <div
          class="w-full bg-white py-2 mt-2 rounded-lg border-gray-400 border-2"
        ></div>
      </div>
      <button
        id="close-popup"
        class="mt-4 px-8 py-2 w-fit text-white rounded-md bg-secondary text-primary font-semibold"
      >
        Tiếp theo
      </button>
    </div>
  </div>
</div>
